/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #050505;
    color: white;
    overflow-x: hidden; 
}

/* =================GATEWAY ================= */

.gateway {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px;
}


.artist-card {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s ease;
}

/* CONTAINER DA IMAGEM */
.card-container {
    width: 160px;
    height: 210px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background: #111;
}

/* IMAGENS */
.card-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}


.img-default {
    filter: grayscale(1) brightness(0.6);
    opacity: 1;
}

.img-hover {
    opacity: 0;
}

.artist-card h2 {
    margin-top: 20px;
    font-size: 1.8rem;
    letter-spacing: 3px;
    transition: 0.3s;
}
/* ================= NO FORNO (Ajuste de Tamanho) ================= */

.preview-blur {
    width: 250px;            
    height: 350px;            
    object-fit: cover;       
    border-radius: 12px;
    flex-shrink: 0;           /* NAO MEXEEEEE */
    filter: blur(8px) brightness(0.6);
    transition: 0.4s ease;
}

.preview-blur:hover {
    filter: blur(0px) brightness(1); 
    transform: scale(1.02);          
}

.preview-blur:hover {
    filter: blur(22px) brightness(1);
}
/* ================= HOVER ================= */

.artist-card:hover .img-default {
    opacity: 0;
}

.artist-card:hover .img-hover {
    opacity: 1;
    transform: translateY(-15px);
}

.artist-card:hover h2 {
    text-shadow: 0 0 15px orange;
}
/* =================BACKGROUND ================= */


.page-wrapper {
    max-width: 1000px;      
    margin: 40px auto;     
    background: rgba(10, 10, 10, 0.75);
    backdrop-filter: blur(10px);        
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

body {
    background: #050505;
    min-height: 100vh;
    padding: 30px;
}
.portfolio-page {
    position: relative;
    background: #050505;
}

.portfolio-page::before {
    content: "";
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;

    background-image: url("texture.jpg");
    background-repeat: repeat;
    background-size: 300px;

    opacity: 0.18;
    animation: diagonalMove 25s linear infinite;

    z-index: -1;
}


@keyframes diagonalMove {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-300px, -300px); }
}

@keyframes colorShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(30deg) saturate(1.5); }
}
.powmer-theme::before {
    animation: diagonalMove 25s linear infinite,
               powmerColors 6s ease-in-out infinite alternate;
}

@keyframes powmerColors {
    0% {
        filter: hue-rotate(30deg) saturate(1.4);
    }
    100% {
        filter: hue-rotate(0deg) saturate(1.8);
    }
}
.euclids-theme::before {
    animation: diagonalMove 25s linear infinite,
               euclidsColors 8s ease-in-out infinite alternate;
}

@keyframes euclidsColors {
    0% {
        filter: hue-rotate(200deg) saturate(1.6);
    }
    100% {
        filter: hue-rotate(260deg) saturate(1.8);
    }
}
/* ================= HEADER ================= */

.profile-header {
    padding: 60px 0;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    border-bottom: 1px solid #222;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.twitter-icon {
    width: 35px;
    transition: 0.3s;
}

.twitter-icon:hover {
    transform: scale(1.1);
}



.exit-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.1);
    padding: 10px 20px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    transition: 0.3s;
    z-index: 20;
}

.exit-btn:hover {
    background: rgba(255,140,0,0.6);
}


.section-container {
    max-width: 1200px;
    margin: 50px auto 0 auto;
}

.section-container h3 {
    margin-bottom: 20px;
    color: #888;
}


/* ================= SLIDER ================= */

.slider-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.side-scroll {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.art-card {
    min-width: 160px;
    max-width: 180px;
    min-height: 160px;
    max-width: 180px ;
    height: 400px;
    background: #1a1a1a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn {
    background: rgba(255,255,255,0.1);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.arrow-btn:hover {
    background: rgba(255,140,0,0.6);
}

/* ================= GALERIA ================= */

.horizontal-gallery {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.horizontal-gallery img {
    min-width: 320px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.horizontal-gallery img:hover {
    transform: translateY(-5px);
}



.twitter-card {
    position: relative;
    min-width: 300px;
    height: 380px;
    border-radius: 12px;
    overflow: hidden;
}

.twitter-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}


.twitter-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;

    background: linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0)
    );

    color: white;
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.4s ease;
}

/* hover */
.twitter-card:hover img {
    transform: scale(1.05);
}

.twitter-card:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}
.vertical-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.vertical-gallery img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.4s ease;
}
.vertical-gallery img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(255,140,0,0.7);
}
.image-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 100;
}

.image-modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
}

.image-modal.active {
    opacity: 1;
    pointer-events: all;
}
.site-footer {
    text-align: center;
    padding: 40px 0;
    color: #555;
    font-size: 0.9rem;
    border-top: 1px solid #222;
    margin-top: 80px;
} 
/* ================= MOSAICO EM DESTAQUE ================= */

.featured-mosaic {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 180px 180px; 
    gap: 20px;
    margin-bottom: 40px; 
}


.featured-mosaic img {
    width: 100%;
    height: 100%;         
    object-fit: cover;     /* NAO MEXEEE */
    border-radius: 12px;
    transition: 0.4s ease;
    cursor: pointer;
}


.big-feature {
    grid-row: 1 / span 2; 
    grid-column: 1 / 2;   
}

/* Efeito de hover igual ao anterior */
.featured-mosaic img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(255,140,0,0.5);
    z-index: 2; 
}

@media (max-width: 768px) {
    .featured-mosaic {
        grid-template-columns: 2fr; 
        grid-template-rows: auto;   
    }
    
    .big-feature {
        grid-row: auto; 
        height: 300px; 
    }
    
    .featured-mosaic img:not(.big-feature) {
         height: 200px; 
    }
}